/* Variables */

/* Slider */
$SL_width: 6px;
$SL_color: #ffffff;
$SL_border_size: 1px;
$SL_border_color: rgba(31, 32, 65, 0.25);
$SL_border_radius: calc($SL_width / 2);

/* Thumbler */
$TH_size: 16px;
$TH_color: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$TH_border_size: 2px;
$TH_border_color: #ffffff;
$TH_border_radius: 50%;

/* Connect */
$CO_width: 6px;
$CO_color_horizontal: linear-gradient(90deg, #6FCF97 0%, #66D2EA 100%);
$CO_color_vertical: $TH_color;
$CO_border_radius: calc($CO_width / 2);

/* Tooltip */
$TO_margin: 20px;
$TO_padding: 2px;
$TO_text_size: 10px;
$TO_color: $TH_color;
$TO_color_text: #ffffff;
$TO_font: normal normal $TO_text_size/$TO_text_size Serif;

/* Selectors */
.SRS__slider {
    position: relative;
    background: $SL_color;
    border: $SL_border_size solid $SL_border_color;
    border-radius: $SL_border_radius;
    box-sizing: border-box;

    &_horizontal {
        width: 100%;
        height: $SL_width;
    }

    &_vertical {
        width: $SL_width;
        height: 100%;
    }
}

.SRS__thumbler {
    /* иначе при 2х бегунках и вертикальной ориентации, 2ой бегунок будет убегать дальше */
    position: absolute;
    z-index: 9;

    will-change: transform;

    &:after {
        content: '';
        position: absolute;
        z-index: 10;
        background: $TH_color;
        width: $TH_size;
        height: $TH_size;
        border: $TH_border_size solid $TH_border_color;
        border-radius: $TH_border_radius;
        box-sizing: border-box;
        cursor: pointer;
        outline: none;
    }

    &_horizontal {

        width: 10%;
        height: 0;
    
        &:after {
            top: -$SL_width;
            left: calc(-$TH_size / 2);
        }
    }

    &_vertical {

        height: 10%;
        width: 0;

        &:after {
            left: -$SL_width;
            top: calc(-$TH_size / 2);
        }
    }
}

.SRS__connect {
    position: absolute;
    z-index: 5;
    top: -$SL_border_size;
    left: -$SL_border_size;

    border-radius: $SL_border_radius;

    &_horizontal {
        background: $CO_color_horizontal;

        height: $CO_width;
    }

    &_vertical { 
        background: $CO_color_vertical;

        width: $CO_width;
    }
}

/* .SRS__tooltip-bar {
    background: transparent;
    position: relative;

    &_horizontal {
        margin-bottom: $TB_margin;
        width: 100%;
        height: 15px;
    }

    &_vertical {
        margin-left: $TB_margin;
        height: 100%;
        width: ;
    }
} */

.SRS__tooltip {
    position: absolute;
    z-index: 5;

    padding: $TO_padding;
    background: $TO_color;
    border-radius: 3px;
    
    font: $TO_font;
    color: $TO_color_text;

    &_horizontal {
        transform: translateX(-50%);
        bottom: calc($TO_text_size / 1.5);
    }

    &_vertical {
        transform: translateY(-50%);
        left: $TO_text_size;
    }
}